name: Scrape autom獺tico

on:
  workflow_dispatch: # permite rodar manualmente
  schedule:
    - cron: '0 11-23,0,1 * * *'

permissions:
  contents: write # permite push com GITHUB_TOKEN

jobs:
  scrape:
    runs-on: ubuntu-latest

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      TWITTER_APP_KEY: ${{ vars.TWITTER_APP_KEY }}
      TWITTER_APP_SECRET: ${{ vars.TWITTER_APP_SECRET }}
      TWITTER_ACCESS_TOKEN: ${{ vars.TWITTER_ACCESS_TOKEN }}
      TWITTER_ACCESS_SECRET: ${{ vars.TWITTER_ACCESS_SECRET }}
      GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      GOOGLE_CSE_ID: ${{ secrets.GOOGLE_CSE_ID }}

    steps:
      - name: Clona o reposit籀rio
        uses: actions/checkout@v4

      - name: Instala Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instala depend礙ncias
        run: npm ci

      - name:  Roda o scraper do Omelete
        run: node scripts/scraper.js

      - name:  Executar scraper do GameSpot RSS
        run: node scripts/scraper-gamespot.js

      - name:  Executar scraper do O Vicio RSS
        run: node scripts/scraper-ovicio.js

      - name: Roda o atualizador de resumos
        run: node scripts/atualizar-resumos-md.js

      - name: Gerar RSS
        run: npm run rss

      - name: Configura usu獺rio git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Comita novos posts
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git pull --rebase origin main
          git add -f content/ public/posts.json
          git commit -m " Atualiza posts automaticamente" || echo "Nada para commitar"
          git push origin main